@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --bg: #345ea8;
  --darkbg: #283d5a;
  --lightbg: #4ab4de;
  --textColor: #f0f0f0;
  --darkTextColor: #eedbcc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  font-family: 'Poppins', Courier, monospace !important;
}

body a {
  text-decoration: none;
  color: white;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
}
