.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 10px;
}

.datatable {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background: #ffffffef;
}

.datatable div {
  font-family: 'Poppins';
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.datatable svg {
  color: rgb(0, 0, 0);
}

.datatable button {
  color: rgb(41, 41, 41);
  padding: 5px 20px;
}

.cellWithImg {
  display: flex;
  align-items: center;
}

.cellImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.cellAction {
  display: flex;
  gap: 20px;
}

.viewButton {
  padding: 5px 8px;
  border-radius: 5px;
  background: #4ab4de;
  cursor: pointer;
}

.deleteButton {
  padding: 5px 8px;
  border-radius: 5px;
  background: crimson;
  cursor: pointer;
}
